@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  background: #303030;
  color: white; 
}

.title {
  text-align: center;
  margin-top: 150px;
}

.title-sub {
  text-align: center;
}

.food {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.navbar {
background: white;
padding: 20px;
}


.navbar a {
  color: black;
  margin-right: 10px;
  text-decoration: none;
  }